body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.titlebar {
    background-color: aqua;
    display: block;
    width: 100%;
    font-size: 75px;
    height: 10vh;
}

.card {
    width: 100vw;
    display: block;
    height: 22.5vh;
    margin: 0px;
    padding: 0px;
}
.card .Title {
    font-size: 30px;
}
.card .Paragraphs {
    font-size: 15px;
}