<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="./stylesheet.css" rel="stylesheet">
    </head>
    <body>
        <div class="titlebar">
            Neekon Saadat's Personal Website: {{.Title}}
        </div>
        {{range .Cards}}
            <div class="card" style="background-color: #{{.Color}};">
                <div class="card Title">{{.Title}}</div>
                <div class="card Paragraphs">
                    {{range .Paragraphs}}
                        <p>{{.}}</p>
                    {{end}}
                </div>
            </div>
        {{end}}
    </body>
</html>